<div class="container">
<div class="row">
    <div class="col-lg-12">
        <div style="color:teal;font-weight:600;letter-spacing:3px;font-size:18px;">Time Sheet Entry</div>
    </div>
</div>   

<form id="weekEndingForm" method="post">
<div style="padding-top:35px;" class="row">
    <div class="col-lg-12">
        <div class="inlineDiv">
            <span ng-model="current.weekending" style="color:lightgrey;font-weight:600;">Week Ending:</span>&nbsp;<input value="" id="datepicker" >
        </div>
        
        <div class="inlineDiv">    
            <span style="color:lightgrey;font-weight:600;">Client</span>

            <select id="clientpicker" class="customSelect" ng-model="current.clientid" ng-change="getNewClientList(current.clientid)">
                <option ng-repeat="client in clients" ng-selected="{{client.id == current.client}}" value="{{client.id}}">{{client.name}}</option>
            </select>
        </div>
    </div>
</div>    

<div style="padding-top:35px;" class="row">
    <div class="col-lg-12">
        <div class="inlineDiv">
            <span style="color:lightgrey;font-weight:600;">Employee</span>

            <select id="employee" class="customSelect" ng-model="newWeekEnding.employeeid">
                <option ng-repeat="employee in employees" value="{{employee.employeeid}}">{{employee.name}}</option>
            </select>
        </div>

        <div class="inlineDiv">
            <span style="color:lightgrey;font-weight:600;">Hours</span>
            <input size="5" classname="" nameid="hours" placeholder="" ng-model="newWeekEnding.hours" ></time-display>
        </div>

        <div class="inlineDiv">
            <span style="color:lightgrey;font-weight:600;">Comments</span>
            <input size="45" maxlength="250" id="comments" ng-model="newWeekEnding.comments" type="text" placeholder="">
        </div>

        <div class="inlineDiv">
            <button id="submitWeeklyTime" class="btn btn-xs btn-primary" type="button" data-ng-disabled="!newWeekEnding.hours" data-ng-click="insertWeekEndingEntry()">{{current.timeEntryActionButton}}</button>
            &nbsp;
            <button id="submitWeeklyTime" class="btn btn-xs btn-primary" type="button" data-ng-if="newWeekEnding.weekending > 0" data-ng-click="clearWeekEndingEntry()">Clear</button>
            <input id="employeeid" ng-model="newWeekEnding.employeeid" value="{{newWeekEnding.employeeid}}" type="hidden">
            <input id="timesheetid" ng-model="newWeekEnding.timesheetid" value="{{newWeekEnding.timesheetid}}" type="hidden">
        </div>
    </div>
</div>
</form>

<div id="list" style="padding-top:35px;" class="row">
    <div class="col-lg-11">
        <table style="width:85%;" class="timeTable">
            <tr style="background-color:green;color:white;">
                <th style="text-align:center">Employee</th>
                <th style="text-align:center">Rate</th>
                <th style="text-align:center">Hours</th>
                <th style="text-align:right">Amount</th>
                <th colspan=3 style="text-align:center">Comments</th>
                <th>&nbsp;</th>
            </tr>
            <tr ng-model="weekEnding" ng-repeat="weekEnding in weekEndings">
                <td style="cursor: pointer;" ng-click="editWeekEndingEntry(weekEnding.employeeid)" name="employeeEntry">{{weekEnding.employeename}}</td> 

                <td name="employeeRate"  style="text-align:center">{{weekEnding.rate}}</td> 

                <td name="employeeHours" style="text-align:right">{{weekEnding.hours}}</td>

                <td style="text-align:right" name="employeeAmount">{{weekEnding.amount}}</td> 

                <td style="width:15px;">&nbsp</td>

                <td name="commentsEntry" style="padding-left:5px;width:45%;">{{weekEnding.comments}}</td>

                <td>&nbsp;
                <input name="employeeid" ng-model="weekEnding.employeeid" value="{{weekEnding.employeeid}}" type="hidden">
                </td>

                <td class="iconBtn" name="deleteEntry"><span ng-click="deleteWeekEndingEntry(weekEnding.timesheetid)" class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
            <tr><td colspan="8">&nbsp;</td>
            <tr ng-model="WeekEndingTotal">
                <td colspan="2">&nbsp;</td>
                <td style="text-align:right" id="weekendingtotalhours">{{weekEndingTotalHours}}</td>
                <td style="text-align:right" id="weekendingtotalammount">{{weekEndingTotalAmount}}</td>
                <td colspan=5 >&nbsp;</td>
            </tr>
        </table>
    </div>
</div>
</div>