<div class="container">
<div class="row">
    <div class="col-lg-12">
        <div style="color:teal;font-weight:600;letter-spacing:3px;font-size:18px;">Time Sheet Entry</div>
    </div>
</div>   

<form id="timeDailyEntryForm" method="post">
<div style="padding-top:35px;" class="row">
    <div class="col-lg-12">
        <div class="inlineDiv">
            <span ng-model="current.timeEntryDate" style="color:lightgrey;font-weight:600;">Week Ending:</span>&nbsp;<input value="" id="datepicker" >
        </div>
        
        <div class="inlineDiv">    
            <span style="color:lightgrey;font-weight:600;">Client</span>

            <select id="clientpicker" class="customSelect" ng-model="clients.id" ng-change="getClientProjectList(this.clients.id)">
                <option ng-repeat="client in clients" ng-selected="{{client.id == current.client}}" value="{{client.id}}">{{client.name}}</option>
            </select>
        </div>
    </div>
</div>    

<div style="padding-top:35px;" class="row">
    <div class="col-lg-12">
        <div class="inlineDiv">
            <time-display classname="" nameid="starttime"  placeholder="Employee Name - This should be dropdown"  size="35" ng-model="newDailyEntry.startTime"></time-display>
        </div>

        <div class="inlineDiv">
            <time-display classname="" nameid="stoptime" placeholder="Hours" ng-model="newDailyEntry.stopTime" ></time-display>
        </div>

        <div class="inlineDiv">
            <input size="45" maxlength="250" id="intervaldescription" ng-model="newDailyEntry.intervalDescription" type="text" placeholder="Comments">
        </div>

        <div class="inlineDiv">
            <button id="submitDailTime" class="btn btn-xs btn-primary" type="button" data-ng-disabled="!newDailyEntry.startTime" data-ng-click="insertUpdateDailyEntry(newDailyEntry.projectdailytimeid)">{{current.timeEntryActionButton}}</button>
            &nbsp;
            <button id="submitDailTime" class="btn btn-xs btn-primary" type="button" data-ng-if="newDailyEntry.projectdailytimeid > 0" data-ng-click="clearDailyEntry()">Clear</button>
            <input id="projectdailytimeid" ng-model="newDailyEntry.projectdailytimeid" value="{{newDailyEntry.projectdailytimeid}}" type="hidden">
        </div>
    </div>
</div>
</form>

<div id="list" style="padding-top:35px;" class="row">
    <div class="col-lg-7">
        <table style="width:90%;" class="timeTable">
            <tr style="background-color:green;color:white;">
                <th>Employee</th>
                <th>Hours</th>
                <th colspan=2 style="text-align:center">Comments</th>
                <th>&nbsp;</th>
            </tr>
            <tr ng-click="editTimeEntryDaily(timeDailyEntry.projectdailytimeid)" ng-model="timeDailyEntry" ng-repeat="timeDailyEntry in timeDailyEntries" class="SeelectableTR">
                <td name="startimeEntry">{{timeDailyEntry.fstarttime}}</td>            
                <td name="stopimeEntry">{{timeDailyEntry.fstoptime}}</td>
                <td name="intervalEntry" style="text-align:center">{{timeDailyEntry.finterval}}</td>
                <td name="descriptionEntry" style="padding-left:5px;">{{timeDailyEntry.intervaldescription}}</td>
                <td>&nbsp;
                <input name="projectdailytimeidhidden" ng-model="timeDailyEntry.projectdailytimeid" value="{{timeDailyEntry.projectdailytimeid}}" type="hidden">
                </td>
                <td class="iconBtn" name="deleteEntry"><span ng-click="deleteTimeEntryDaily(timeDailyEntry.projectdailytimeid)" class="glyphicon glyphicon-trash"></span>
                </td>
            </tr>
            <tr><td colspan="6">&nbsp;</td>
            <tr ng-model="timeDailyEntryTotal">
                <td colspan="2">&nbsp;</td>
                <td style="text-align:center" id="calulatedTotalInterval">{{timeDailyEntryTotal}}</td>
                <td colspan=2 >&nbsp;</td>
            </tr>
        </table>
    </div>

    <div class="col-lg-5">
        <table style="width:90%;" class="timeHistoryTable">
            <tr style="background-color:blue;color:white;">
                <th>Week Ending</th>
                <th>Hours</th>
                <th style="text-align:center">Comments</th>
            </tr>
            <tr ng-model="timeDailyEntry" ng-repeat="fullTimeDailyEntry in fullTimeDailyEntries" >
                <td name="dateEntry">{{fullTimeDailyEntry.fstopdate}}</td>            
                <td name="intervalEntry" style="text-align:center;">{{fullTimeDailyEntry.finterval}}</td>
                <td name="descriptionEntry" style="padding-left:5px;">{{fullTimeDailyEntry.intervaldescription}}</td>
            </tr>
            <tr><td colspan="3">&nbsp;</td>
            <tr ng-model="timeDailyEntryTotal">
                <td >&nbsp;</td>
                <td style="text-align:center;" id="calulatedTotalInterval">{{fullTimeDailyEntryTotal}}</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
</div>
</div>